%a#searchToggleLink{:data => {"toggle"=> "collapse", :target => "#searchForm"}}= t(".search_and_sort")

- if params[:q]
  = "(#{search_conditions_count(params[:q])}) #{ t('.conditions_added')}"
#searchForm.collapse
  = search_form_for @search, url: search_schemas_path(@database_connection, name: @name), html: {method: :post, class: "form-horizontal"} do |f|
    - setup_search_form f
    %fieldset
      %legend
        = t("search.sorting")  
      .control-group
        = f.sort_fields do |s|
          = render '/search/sort_fields', f: s
        = button_to_add_fields icon("plus"), f, :sort, t("search.add_sort")
    %fieldset
      %legend
        = t("search.conditions")
      .control-group
        = f.condition_fields do |c|
          = render '/search/condition_fields', f: c
        = button_to_add_fields icon("plus"), f, :condition, t("search.add_condition")
  
    = f.submit(class: "btn btn-primary")
    = link_to t(".cancel"), search_schemas_path(@database_connection, name: @name, :clear_search => "1"), class: "btn"
    