= simple_form_for @database_connection, :html => { :class => 'form-horizontal' } do |f|
  = f.input :title, :hint => t(".title_hint")
  = f.input :adapter, :as => :select, :collection => [:sqlite3, :postgresql, :mysql2]
  = f.input :database
  = f.input :password
  = f.input :username
  = f.input :host
  = f.input :port
  = f.input :encoding, :collection => (Encoding.name_list + ["utf8"] + ["UTF8"]).sort, :selected => @database_connection.encoding || "UTF-8" 
  .form-actions
    = f.button :submit, :class => 'btn-primary'
    = link_to t('.cancel', :default => t("helpers.links.cancel")), |
      database_connections_path, :class => 'btn'                   |
