- unless @model
  .notice=t(".no_model")
- else

  %h1= t '.title', :default => @name.humanize
  = render :partial => "search/search_form"

  = link_to t('.export', :default => t("helpers.links.export")),
      schema_path(@database_connection, name: @name, format: :csv),
      :class => 'btn btn-danger pull-right'

  - if @columns_names.include?("id")
    = link_to t('.new', :default => t("helpers.links.new")),
      new_abstract_path(@database_connection, name: @name),
      :class => 'btn btn-primary pull-right'

  %table.table-condensed.table-striped.table
    %thead
      %tr
        - @columns_names.each do |name|
          %th= name
        %th= t(".actions")

    %tbody
      - @collection.each do |res|
        %tr
          - @columns_names.each do |attr|
            %td
              - if attr == "id"
                = link_to(res.send(attr), abstract_path(res, connection_id: @database_connection.id, name: @name))
              - else
                = format_value(res.send(attr))
          %td
            - if res.respond_to?(:id) && !res.id.blank?
              = link_to t('.edit', :default => t("helpers.links.edit")),
                edit_abstract_path(res, connection_id: @database_connection.id, name: @name), :class => 'btn btn-mini'

              = link_to t('.destroy', :default => t("helpers.links.destroy")),
                abstract_path(res, connection_id: @database_connection.id, name: @name),
                :method => :delete,
                :data => {:confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?'))},
                :class => 'btn btn-mini btn-danger'

  = paginate @collection
  .page-info= page_entries_info @collection
  = form_tag schema_path(@database_connection, name: @name), method: :get, class: 'form-inline' do
    = label_tag :per_page, t('.per_page', :default => t("helpers.per_page"))
    = text_field_tag :per_page, get_per_page(@database_connection.id, @name), class: "small"
    = submit_tag "Change", :class => 'btn-primary'
